
body{
  background-color: #004d1a;
  text-align: center;
  margin-top : 200px;
  font-family: arial sans-serif;
  background-size:  cover;
  background-position: auto;
  height: -webkit-fill-available;
  background-position: center;
  overflow-y: hidden;
}
h1{
  color:goldenrod;
  font-size: 50px;


}

p{

  color : white;
  font-size: 22px;
}
#player-el{
  padding-top: 15px;
}
#message{
  font-style:italic;
}
.game{
  color:#016f32;
  width:150px;
  background:goldenrod;
  border:none;
  border-radius : 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 550;
}
.card{
  margin-top: 20px;
  color:#016f32;
  width:150px;
  background:goldenrod;
  border:none;
  border-radius : 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 550;
}
#rbutton{

  margin-top: 20px;
  color:#016f32;
  width:150px;
  background:goldenrod;
  border:none;
  border-radius : 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 550;

}
@media (max-width:1535px) {
  body{
    background-image: no-repeat;
    text-align: center;

    }
}
@media (max-width:1460px) {
  body{
    background-image: no-repeat;
    text-align: center;

}
}
@media (max-width:1340px) {
  body{
    background-image: no-repeat;
    text-align: center;

   }
}
@media (max-width:1195px) {
  body{
    background-image: no-repeat;
    text-align: center;

}
}
@media (max-width:990px) {
  body{
    background-image: no-repeat;
    text-align: center;

}
}
@media (max-width:680px) {
  body{
    background-image: no-repeat;
    text-align: center;


}
  @media (max-width:480px) {
  body{
    background-image: no-repeat;
    text-align: center;


}
 
}
